/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2016, 10:45:45 AM
    Author     : Sergey
*/

#bodyes {
    background-color: #dddddd;
}

#mainBlockDashBoard {
    margin:auto;
    width:1440px;
}
.block0DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:1418px;
    height:40px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block01DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:1418px;
    height:110px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block1DashBoard, .block2DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:700px;
    height:350px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block3DashBoard, .block4DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:700px;
    height:400px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block11DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:670px;
    height:50px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.h4DashBoard {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  14px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    text-align: center;
    color: green;
}
.tableDashBoard {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  12px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    text-align: left;
    color: darkblue;
}
.buttonDashBoard {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.buttonDashBoardAlert {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h3#green {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  15px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: #3c8c40;
}
h4 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  15px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: darkred;
}

h5 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: darkred;
}
/* ------------- Measure --------------------------*/

.tableMeasuresDashBoard {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  14px;
    font-weight: normal;
    text-align: left;
    margin: 5px;
    padding: 5px;
    color: darkblue;
    border-collapse: collapse;
    border: 1px solid black;
    padding-top: 20px;
} 
.tdMeasuresDashBoard {
    margin: 3px;
    padding: 3px;
    border-collapse: collapse;
    width: 170px;
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid black;
}  

/*------------- Cost Summary ----------------------*/
.tableCostSummaryDashBoard {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  14px;
    font-weight: normal;
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: darkblue;
    border-collapse: collapse;
    border: 1px solid black;
    padding-top: 20px;
}  

.tdDashBoard {
    margin: 10px;
    padding: 10px;
    border-collapse: collapse;
    width: 300px;
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid black;
}  

.buttonCostSummaryDashBoard {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 0 10px;
    cursor: pointer;
    float: left;
}

/* --------------------------  dialog box --------------------------------  */

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px; 
    width:550px;
    z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }