/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2016, 10:45:45 AM
    Author     : Sergey
*/

#mainBlockDashBoard {
    margin:auto;
    width:1440px;
}
.block0DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:1423px;
    height:25px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block1DashBoard, .block2DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:700px;
    height:400px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block3DashBoard, .block4DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:700px;
    height:400px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block11DashBoard{
    float:left;
    margin:3px 3px 3px 5px;
    width:670px;
    height:s50px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.h4DashBoard {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  14px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    text-align: center;
    color: green;
}
.tableDashBoard {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  12px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    text-align: left;
    color: darkblue;
}
.titleDashBoard {
    width: 150px;
}
.textAreaDashBoard {
    width: 400px;
}
.textArea2titleDashBoard {
    width: 150px;
}
.textArea2fieldDashBoard {
    width: 150px;
}
.checkBoxDashBoard {
    width: 50px;
}
.doneDashBoard {
    width: 70px;
}

.topButtonsDashBoard {
    padding-right: 30px;
    padding-left: 30px;
    color: darkred;
}
.pDashBoard {
    border-bottom: 1px solid #AFAFAF;
}