/* 
    Created on : May 12, 2016, 9:21:38 AM
    Author     : Sergey
*/

#mainBlockHouse {
    margin:auto;
    width:1440px;
}
.block0House{
    float:left;
    margin:3px 3px 3px 5px;
    width:1425px;
    height:35px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block1House, .block2House{
    float:left;
    margin:3px 3px 3px 5px;
    width:700px;
    height:1500px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.block11House{
    float:left;
    margin:3px 3px 3px 5px;
    width:670px;
    height:s50px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.h4House {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  14px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    text-align: center;
    color: green;
}
.tableHouse {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  12px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    text-align: left;
    color: darkblue;
}
.topButtonsHouse {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px 2px 5px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.topTextHouse {
    margin: 0 20px 0 20px;
    color: #8b0000;
}
.topTextHouseTop {
    font-size: 16px;
    font-style: initial;
    margin: 10px 20px 10px 20px;
    color: #8b0000;
    text-align: center;
}
.titleHouse {
    width: 150px;
}
.textAreaHouse {
    width: 400px;
}
.textArea2titleHouse {
    width: 150px;
}
.textArea2fieldHouse {
    width: 150px;
}
.checkBoxHouse {
    width: 50px;
}
.doneHouse {
    width: 70px;
}

.topButtonsHouseLeft {
    position: relative;
    left: 110px;
}

.topButtonsHouseRight {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: darkred;
}
