/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2016, 5:31:44 PM
    Author     : Sergey
*/

.absolute1 {
    position: absolute;
    top: 45px;
    left: 330px;
    width: 100px;
    height: 12px;
}

.absolute2 {
    position: absolute;
    top: 74px;
    left: 385px;
    width: 100px;
    height: 12px;
}

.absolute3 {
    position: absolute;
    top: 74px;
    left: 70px;
    width: 100px;
    height: 12px;
}

.absolute4 {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 200px;
    height: 12px;
}

.relative1 {
    position: relative;
    width: 510px;
    height: 200px;
    border: 1px solid;
}